fuzzedpackages/RstoxData/inst/extdata/landingerv2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           targetNamespace="http://www.imr.no/formats/landinger/v2"
           elementFormDefault="qualified"
           xmlns="http://www.imr.no/formats/landinger/v2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:imrd="http://www.imr.no/formats/nmddocumentation/v1_0">
    
    
    
    <xs:annotation>
        <xs:documentation>
            <imrd:imrDoc>
                <imrd:description lang="no">Datamodell for landingsdata (landings- og sluttsedler) overlevert fra Fiskeridirektoratet. Navn på elementer og attributter samsvarer med navn brukt i dokumentasjon fra Fiskeridirektoratet.</imrd:description>
            </imrd:imrDoc>
        </xs:documentation>
    </xs:annotation>
  
    <xs:element name="Landingsdata" type="LandingsdataType" />
    
    <xs:complexType name="LandingsdataType">
        <xs:sequence>
            <xs:element name="Seddellinje" type="SeddellinjeType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>         
    </xs:complexType>
    <xs:complexType name="SeddellinjeType">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Dokumenttype_Kode" type="xs:integer" />
            <xs:element name="Dokumenttype_Bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="DokumentVersjonsnummer" type="xs:integer" />
            <xs:element name="DokumentFormulardato" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="DokumentElektroniskDato" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Salgslagdata" type="SalgslagdataType" maxOccurs="1" minOccurs="0" />
            <xs:element name="Mottaker" type="MottakerType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produksjon" type="LandingOgProduksjonType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fangstdata" type="FangstdataType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fisker" type="FiskerType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøy" type="FartøyType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Mottakendefartøy" type="MottakendeFartøyType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Kvote" type="KvoteType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Redskap" type="RedskapType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Dellanding" type="DellandingType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produkt" type="ProduktType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Art" type="ArtType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <!-- identifiserer seddellinjer -->
        <xs:attribute name="Dokumentnummer" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <imrd:imrApp>
                        <imrd:key/>
                    </imrd:imrApp>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Linjenummer" type="xs:long" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <imrd:imrApp>
                        <imrd:key/>
                    </imrd:imrApp>
                </xs:appinfo>
            </xs:annotation>
        </xs:attribute>

        <!-- identifiserer fangst -->
        <xs:attribute name="Art_kode" type="xs:string" />
        <xs:attribute name="Registreringsmerke_seddel" type="xs:string" />
        <xs:attribute name="Fangstår" type="xs:integer" />
        <xs:attribute name="SisteFangstdato" type="xs:string" />

        <!-- vanlige filtreringsparametere -->
        <xs:attribute name="Redskap_kode" type="xs:string" />
        <xs:attribute name="HovedgruppeRedskap_kode" type="xs:string" />
        <xs:attribute name="Hovedområde_kode" type="xs:string" />
        <xs:attribute name="Lokasjon_kode" type="xs:string" />
        <xs:attribute name="StørsteLengde" type="xs:decimal" />
        <xs:attribute name="Fartøynasjonalitet_kode" type="xs:string" />
        <xs:attribute name="KystHav_kode" type="xs:integer" />

        <xs:attributeGroup ref="GenericAttrRowGroup" />   
        
    </xs:complexType>
    <xs:complexType name="MottakerType">
        <xs:sequence>
            <xs:element name="Mottakernasjonalitet_kode" type="xs:string"/>
            <xs:element name="Mottakernasjonalitet_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Mottaksstasjon" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LandingOgProduksjonType">
        <xs:sequence>
            <xs:element name="Landingsdato" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingsklokkeslett" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingskommune_kode" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingskommune" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingsfylke_kode" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingsfylke" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingsnasjon_kode" type="xs:string"/>
            <xs:element name="Landingsnasjon_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produksjonsanlegg" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produksjonskommune_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produksjonskommune" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FiskerType">
        <xs:sequence>
            <xs:element name="Fiskerkommune_kode" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fiskerkommune" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fiskernasjonalitet_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fiskernasjonalitet_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FartøyType">
        <xs:sequence>
            <xs:element name="Fartøynavn" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="FartøyID" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Radiokallesignal_seddel" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Lengdegruppe_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Lengdegruppe_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Bruttotonnasje1969" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="BruttotonnasjeAnnen" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Byggeår" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Ombyggingsår" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Motorkraft" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Motorbyggeår" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="FartøyGjelderFraDato" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="FartøyGjelderTilDato" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøytype_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøytype_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøykommune_kode" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøykommune" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøyfylke_kode" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøyfylke" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøynasjonalitet_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fartøynasjonalitet_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MottakendeFartøyType">
        <xs:sequence>
            <xs:element name="MottakendeFartøyRegMerke" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="MottakendeFartøyRKAL" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="MottakendeFartøytype_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="MottakendeFartøytype_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="MottakendeFartøynasj_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="MottakendeFartøynasj_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KvoteType">
        <xs:sequence>
            <xs:element name="KvotefartøyRegMerke" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Kvotetype_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Kvotetype_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RedskapType">
        <xs:sequence>
            <xs:element name="Redskap_bokmål" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="HovedgruppeRedskap_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FangstdataType">
        <xs:sequence>
            <xs:element name="Fangstfelt_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Hovedområde_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="Sone_kode" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="Sone_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="Områdegruppering_bokmål" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="HovedområdeFAO_kode" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="HovedområdeFAO_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="NordSørFor62GraderNord" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="Fangstdagbok_nummer" type="xs:long" maxOccurs="1" minOccurs="0" />
            <xs:element name="Fangstdagbok_turnummer" type="xs:long" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DellandingType">
        <xs:sequence>
            <xs:element name="Dellanding_signal" type="xs:integer" maxOccurs="1" minOccurs="0" />
            <xs:element name="NesteMottaksstasjon" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="ForrigeMottakstasjon" type="xs:string" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProduktType">
        <xs:sequence>
            <xs:element name="Produkttilstand_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produkttilstand_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Konserveringsmåte_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Konserveringsmåte_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingsmåte_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Landingsmåte_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Kvalitet_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Kvalitet_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Størrelsesgruppering_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Anvendelse_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Anvendelse_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="HovedgruppeAnvendelse_kode" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="HovedgruppeAnvendelse_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="AntallStykk" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Bruttovekt" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Produktvekt" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Rundvekt" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SalgslagdataType">
        <xs:sequence>
            <xs:element name="SalgslagID" type="xs:integer" maxOccurs="1" minOccurs="0" />
            <xs:element name="Salgslag" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="Salgslag_kode" type="xs:string" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArtType">
        <xs:sequence>
            <xs:element name="Art_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="ArtsgruppeHistorisk_kode" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="ArtsgruppeHistorisk_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="HovedgruppeArt_kode" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="HovedgruppeArt_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
            <xs:element name="ArtFAO_kode" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="ArtFAO_bokmål" type="KodeforklaringType" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="KodeforklaringType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <!-- These are used by the model but won't be exposed. -->
    <xs:attributeGroup name="GenericAttrRowGroup">                    
        <xs:attribute name="updatedTime" type="xs:dateTime"/>
        <xs:attribute name="updatedBy" type="xs:string"/>
        <xs:attribute name="insertedTime" type="xs:dateTime"/>
        <xs:attribute name="insertedBy" type="xs:string"/>
        <xs:anyAttribute />
    </xs:attributeGroup>   
</xs:schema>