fuzzedpackages/RstoxData/inst/extdata/nmdechosounderv1.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.imr.no/formats/nmdechosounder/v1"
           xmlns:echosounder_dataset="http://www.imr.no/formats/nmdechosounder/v1"
           xmlns:imrd="http://www.imr.no/formats/nmddocumentation/v1_0">
    <xs:annotation>
        <xs:documentation>
            <imrd:imrDoc>
                <imrd:description lang="en">Datamodel for acoustic data.</imrd:description>
            </imrd:imrDoc>
        </xs:documentation>
    </xs:annotation>
    <!-- xsd document that represents the Luf20 echosounder format -->

    <xs:element name="echosounder_dataset" type="echosounder_dataset:echosounderDatasetType" />

    <xs:complexType name="echosounderDatasetType">
        <xs:sequence>
            <xs:element name="report_time" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Time the file was generated.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>
                </xs:annotation>                     
            </xs:element>
            <xs:element name="lsss_version" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Version of the LSSS software used to generate the file.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>
                </xs:annotation>     
            </xs:element>
            <xs:element name="nation" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Version of the LSSS software used to generate the file.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>
            </xs:element>
            <xs:element name="platform" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Internal IMR platformnumber describing what platform the data comes from.</imrd:description>
                            <imrd:referenceTable href="http://tomcat7.imr.no:8080/apis/nmdapi/reference/v2/dataset/platform?version=2.0"/>     
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                
            </xs:element>
            <xs:element name="cruise" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Cruisecode for the cruise the data was collected on.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                        
            </xs:element>
            <xs:element name="distance_list" type="echosounder_dataset:distanceList" minOccurs="1" maxOccurs="1" />
            <xs:element name="acocat_list" type="echosounder_dataset:acocatListType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="distanceList">
        <xs:sequence>
            <xs:element name="distance" type="echosounder_dataset:distance" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="distance">
        <xs:sequence>
            <xs:element name="stop_time" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Stop time for the distance.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                     
            </xs:element>
            <xs:element name="integrator_dist" type="xs:double" minOccurs="1" maxOccurs="1" />
            <xs:element name="pel_ch_thickness" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">The vertical grid size of the pelagic channel (in meters).</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                
            </xs:element>
            <xs:element name="bot_ch_thickness" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">The vertical grid size of the bottom channel (in meters).</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>        
            </xs:element>
            <xs:element name="include_estimate" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="lat_start" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Latitude the distance started.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                     
            </xs:element>
            <xs:element name="lat_stop" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Latitude the distance finished.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                 
            </xs:element>
            <xs:element name="lon_start" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Longitude the distance started.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                  
            </xs:element>
            <xs:element name="lon_stop" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Longitude the distance finished.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>  
            </xs:element>
            <xs:element name="frequency" type="echosounder_dataset:frequencyType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="log_start" type="xs:double">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">Start time for the distance.</imrd:description>
                    </imrd:imrDoc>
                </xs:documentation>                
            </xs:annotation>                   
        </xs:attribute>
        <xs:attribute name="start_time" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">Start time for the distance.</imrd:description>
                    </imrd:imrDoc>
                </xs:documentation>                
            </xs:annotation>                 
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="frequencyType">
        <xs:sequence>
            <xs:element name="threshold" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">LSSS computes integrated echo level (sA) from volume backscattering (sv)
                                coefficients by performing integration vertically and averaging horizontally. sV coefficients are only
                                included in the computations if their value exceeds a certain threshold. The threshold is identical to the
                                lower boundary of the color scale as set in the color scale field of the echogram view. The Threshold
                                parameter contains the threshold in dB that was used when interpreting this data.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                   
            </xs:element>
            <xs:element name="num_pel_ch" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Number of pelagic channels.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                       
            </xs:element>
            <xs:element name="num_bot_ch" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Number of bottom channels.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                   
            </xs:element>
            <xs:element name="min_bot_depth" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Minimum bottom depth in meter within this sub interval.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                
            </xs:element>
            <xs:element name="max_bot_depth" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Maximum bottom depth in meter within this sub interval.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                    
            </xs:element>
            <xs:element name="upper_interpret_depth" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Upper depth where the acoustic data are scrutinized and stored.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                  
            </xs:element>
            <xs:element name="lower_interpret_depth" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Lower depth where the acoustic data are scrutinized and stored.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                  
            </xs:element>
            <xs:element name="upper_integrator_depth" type="xs:double" minOccurs="1" maxOccurs="1" />
            <xs:element name="lower_integrator_depth" type="xs:double" minOccurs="1" maxOccurs="1" />
            <xs:element name="quality" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">User assigned quality code of for the current interpretation, as defined in the Specify
                                Quality dialogue following the Store Interpretation procedure. The quality code is used to express how
                                confident the user is regarding the acoustic category interpretation.
                                1 = best quality, the acoustic category can be separated exclusively by means of the acoustic
                                measurements.
                                2 = second best, the acoustic category can be partly separated by the acoustic measurements, but
                                must be supported by biological samples.
                                3 = low quality, the acoustic category are completely mixed, and can only be separated by means of
                                biological samples.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                       
            </xs:element>
            <xs:element name="bubble_corr" type="xs:double" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">Small air bubbles sometimes attenuates the echosounder signal, and a
                                multiplication factor is available from the Store Interpretation dialogue for manually boosting the signal
                                strength. Both pelagic and bottom channel data are affected by this boosting mechanism. The
                                BubbleCorrection parameter contains the multiplication factor value that was used when interpreting
                                this data.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>                
                </xs:annotation>                      
            </xs:element>
            <xs:element name="ch_type" type="echosounder_dataset:chTypeType" minOccurs="0" maxOccurs="2" />
        </xs:sequence>
        <xs:attribute name="freq" type="xs:integer">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">Echo sounder operating frequency in Hz.</imrd:description>
                    </imrd:imrDoc>
                </xs:documentation>                
            </xs:annotation>            
        </xs:attribute>
        <xs:attribute name="transceiver" type="xs:integer">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">Echo sounder transceiver or GPT channel number.</imrd:description>
                    </imrd:imrDoc>
                </xs:documentation>                
            </xs:annotation>             
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="chTypeType">
        <xs:sequence>
            <xs:element name="sa_by_acocat" type="echosounder_dataset:saByAcocatType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="type" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">B for bottom and P for pelagic.</imrd:description>
                    </imrd:imrDoc>
                </xs:documentation>
            </xs:annotation>             
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="saByAcocatType">
        <xs:sequence>
            <xs:element name="sa" type="echosounder_dataset:saType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">This parameter (sA) contains the sum of the interpreted sA values for all the acoustic
                                categories for all the channels in the column. The parameter has dimension square meter per square
                                nautical mile.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>
                </xs:annotation>                  
            </xs:element>
        </xs:sequence>
        <xs:attribute name="acocat" type="xs:integer">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">Acoustic categories.</imrd:description>
                        <imrd:referenceTable href="http://tomcat7.imr.no:8080/apis/nmdapi/reference/v2/dataset/acousticCategory?version=2.0"/>                             
                    </imrd:imrDoc>
                </xs:documentation>
            </xs:annotation>                       
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="saType">
        <xs:simpleContent>
            <xs:extension base="xs:double">
                <xs:attribute name="ch" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation>
                            <imrd:imrDoc>
                                <imrd:description lang="en">The pelagic channels are parallel to the sea surface, and the bottom channels are
parallel to the bottom. Their thickness are defined by the ChannelThickness parameter in the Scatter
table. See ScatterType table for definitions of the channel types. ChannelNumber increase with
increasing distance from the reference, i.e. surface-related depth-channels increase with increasing
depth below surface, and bottom related channels increase with increasing distance above bottom.</imrd:description>
                            </imrd:imrDoc>
                        </xs:documentation>
                    </xs:annotation>                        
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="acocatListType">
        <xs:sequence>
            <xs:element name="acocat" type="echosounder_dataset:acocatType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="acocatType">
        <xs:sequence>
            <xs:element name="purpose" type="xs:integer" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <imrd:imrDoc>
                            <imrd:description lang="en">This value can be in the range 1:3. 1. Main acoustic category, 2. Interesting acoustic category and 3. Unimportant acoustic categories.</imrd:description>
                        </imrd:imrDoc>
                    </xs:documentation>
                </xs:annotation>  
            </xs:element>
        </xs:sequence>
        <xs:attribute name="acocat" type="xs:integer">
            <xs:annotation>
                <xs:documentation>
                    <imrd:imrDoc>
                        <imrd:description lang="en">Acoustic categories.</imrd:description>
                        <imrd:referenceTable href="http://tomcat7.imr.no:8080/apis/nmdapi/reference/v2/dataset/acousticCategory?version=2.0"/>                             
                    </imrd:imrDoc>
                </xs:documentation>
            </xs:annotation>              
        </xs:attribute>
    </xs:complexType>
</xs:schema>
